@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/images/carroFundo.jpg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    .espacamento {
        margin-bottom: 450px;
    }

    .display-4 {
        margin-top: 200px;
        color: black;
        font-family: Cursive, sans-serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <title>Sua Página</title>
</head>
<body>
    
</body>

<div class="text-center">
    <h1 class="display-4">Welcome to the parking control project!</h1>
</div>

<div class="espacamento"></div>
</html>