@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Sua Página</title>
    <style>
        body {
            background-image: url('/images/carroFundo.jpg');
            background-size: cover; 
            background-position: center;
            
        .display-4 {
            color: black;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
            }
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to the parking control project!</h1>
    </div>
</body>
</html>